body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  // background-color: rgba(0,0,0,0.4);
  background-color: #120c32;
  // background-color: rgba(35, 35, 35, 0.8);

// background: #cc2b5e;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to top, #753a88, #cc2b5e);   Chrome 10-25, Safari 5.1-6
// background: linear-gradient(to top, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
